* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, serif;
    font-weight: 300;
}

a {
   color: black;
   text-decoration: none;
}

html,
body {
    height: 100%;
}

form{
    width: 100%;
}

div form p input[type=submit]{
    cursor: pointer;
    color: white;
    font-weight: 600;
    border-radius: 50px;
    text-transform: uppercase;
    width: 100%;
    padding: 6% 2%;
    margin: 5% 0;
    display: inline-block;
    border: none;
    background: linear-gradient(90deg, rgba(156,247,237,1) 0%, rgba(34,53,209,1) 35%, rgba(243,0,255,1) 100%);
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-color: #023b6d8c;
    background-size: cover;
}

.login-cart h2{
    margin: 4%;
    padding: 0;
    color: rgb(4 15 64 / 72%);
    text-align: center;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 5px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-bottom: 2px solid #ADADAD;
    background-color: transparent;
}

.login-cart {
    display: grid;
    place-items: center;
    padding: 5% 3% 0;
    width: 350px;
    background-color: #ffffffc6;
    border-radius: 5%;
    box-shadow: 0 2px 20px rgb(0 0 0 / 50%);
}

div > p{
    text-align: center;
    font-size: 10px;
    margin: 20% 0 10%;
    color: #847d7d;
}