@font-face {
    font-family: MinionPro-Bold;
    src: url(./fonts/MinionPro-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: MinionPro-Regular;
    src: url(./fonts/MinionPro-Regular.ttf);
}

.wrapper {
    font-family: MinionPro-Regular, sans-serif;
}

* {
    box-sizing: border-box;
}

/*HEADER*/

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    height: 72px;
    background-color: #8C0A0D;
}

.header .container {
    display: flex;
    align-items: center;
}

.logo img{
    margin-top: 13px;
    height: 49px;
    width: 180px;
}

.menu {
    margin-left: 125px;
}

.menu ul{
    display: flex;
}

.menu-item{
    margin-top: 30px;
    margin-right: 30px;
    text-align: justify;
}

.menu-item a{
    font-size: 14px;
    color: #FFE394;
    text-decoration: none;
}

.eng span::before {
    content: "";
    margin-right: 7px;
    margin-bottom: -5px;
    display: inline-block;
    background-image: url('https://github.com/Litisia/HTML-CSS-2020/blob/Home-Work/04_%D0%A1%D1%82%D0%B8%D0%BB%D0%B8%20%D1%87.2/images/eng.jpg?raw=true');
    background-position: 175px -4px;
    width: 22px;
    height: 20px;
    border-radius: 10px;
}

.eng{
    margin-left: 90px;
    font-size: 14px;
    color: #FFE394;
    margin-top: 26px;
}

/*MAİN*/

.main { 
    background-image: radial-gradient(#ffe39440, #ffe394), url(https://github.com/Litisia/HTML-CSS-2020/blob/Home-Work/04_%D0%A1%D1%82%D0%B8%D0%BB%D0%B8%20%D1%87.2/images/background.png?raw=true);
    background-size: 100%;
    height: 680px;
    padding: 40px 66px 50px 66px;
}

.main-intro{
    background-image: url(https://github.com/Litisia/HTML-CSS-2020/blob/Home-Work/04_%D0%A1%D1%82%D0%B8%D0%BB%D0%B8%20%D1%87.2/images/fabrika.png?raw=true);
    width: 1170px;
    height: 335px;
    background-position: center;
    border: 3px solid #35040C;
}
.main-intro p{
    font-size: 60px;
    color: #35040C;
    text-align: center;
    margin-top: 20px;
}

.main-middle-butter {
    height: 44px;
    width: 191px;
    background-color: #F6CC79;
    border-radius: 12px;
    padding: 10px 10px 10px 18px;
    margin-left: 480px;
    border-bottom: 5px solid #bf670d;
}

.main-middle-butter a{
    color: #030303;
    text-decoration: none;
    font-family: MinionPro-Bold;
    font-size: 24px;
   
}

.left_right {
    display: flex;
    justify-content: space-between;
    padding: 38px 30px 0px 30px;
}

.dot3 ul{
    display: flex;
}

.dot3{
    height: 17px;
    margin: 83px 0px 10px 535px;
}
 
.dot3-item a{
    text-decoration: none;
}

/*MAIT_TEXT*/

.main-text-bold{
    font-family: MinionPro-Bold;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    line-height: 1.2;
}


.text-bold{
    width: 260px;
    height: 89px;
}

.main-text-regular{
    font-family: MinionPro-Regular;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    line-height: 1.3;
}

.text-regular{
    width: 260px;
    height: 160px;
}

/*FOOTER*/


.footer{
    height: 72px;
    font-size: 14px;
    background-color: #8C0A0D;
    padding: 12px 0px 5px 0;
}

.footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site a{
    text-decoration: none;
    font-family: MinionPro-Bold;
    color: #F8C669;
}

div .site{
    width: 294px;
    margin-top: 30px;
}

.adress{
    line-height: 1.8;
    font-family: MinionPro-Bold;
    color: #F8C669;
    margin-left: -30px;
    width: 290px;
}

.telefon a{
    line-height: 1.8;
    text-decoration: none;
    font-family: MinionPro-Bold;
    color: #F8C669;
    width: 260px;
}

.telefon{
    width: 260px;
}

.mail a{
    text-decoration: none;
    font-family: MinionPro-Bold;
    color: #F8C669;
    line-height: 1.8;
}

.mail {
    width: 168px;
}

.sosial{
   float: right;
   display: flex;
}

.vk a{
    margin-left: 10px;
}


